secret_stuff.py
__pycache__/secret_stuff.cpython-38.pyc
__pycache__/twitter.cpython-38.pyc
corpus.csv
training.csv
__pycache__/twitter_sentiment.cpython-38.pyc
model.pickle
words/negative.txt
words/positive.txt
model_old.pickle
__pycache__/twitter_scraper.cpython-38.pyc
test.py
__pycache__/preprocess.cpython-38.pyc
__pycache__/preprocess.cpython-38.pyc
__pycache__/preprocess.cpython-38.pyc
trainer copy.py
__pycache__/app.cpython-38.pyc
__pycache__/callbacks.cpython-38.pyc
__pycache__/layouts.cpython-38.pyc
__pycache__/preprocess.cpython-38.pyc
__pycache__/test.cpython-38.pyc
__pycache__/preprocess.cpython-38.pyc
